.Abdulbori-text h6 {
    color: rgb(255, 64, 0);
    padding: 20px 0px;
}

.Abubakir-info {
    display: flex;
    gap: 50px;
}

.text {
    color: rgb(255, 0, 0);
}

.icon {
   position: absolute;
   right: 100px;
   display: flex;
   font-size: 30px;
   gap: 10px;
}
.card-text {
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

.btn-primary {
    border: none;
    justify-content: center ;
}


    


