body {
  margin: 0;
}

/* Ozodbek Footer */
.footer a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #4e4a4a;
}

.footer-section {
  background: whitesmoke;
  padding: 60px;
}

.footer li {
  list-style: none;
  color: #797979;
}

.footer-brand {
  display: flex;
  color: black !important;
}

.footer-brand img {
  height: 30px;
}

.pages {
  display: flex;
  gap: 10px;
}

.pages {
  height: 25px;
}

.email{
    display: flex;
}

.ending {
  text-align: center;
}

.ending p {
  color: black;
}

/* /Ozodbek Footer */
