body {
  margin: 0;
}

/* Sukhrob */
.content {
  padding: 100px 0;
}

.main-section_info {
  width: 50%;
}

.main-section_img {
  max-width: 700px;
}

.main-section_img img {
  width: 100%;
}

/* Ozodbek Footer */
.footer-section {
  background: whitesmoke;
  padding: 60px;
}

.footer li {
  list-style: none;
  color: #797979;
}

.footer-brand {
  display: flex;
  color: black !important;
}

.footer-brand img {
  height: 30px;
}

.pages {
  display: flex;
  gap: 10px;
}

.list4 p {
  color: black;
}

.pages {
  height: 25px;
  cursor: pointer;
}

.ending {
  text-align: center;
}

.ending p {
  color: black;
}

/* /Ozodbek Footer */
